#slider1_container {
	position: relative; 
	top: 0px; 
	left: 0px; 
	width: 1140px; 
	height: 437px; 
	margin-left: auto; 
	margin-right: auto;
}



.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(images/gallery/a11.png) no-repeat;
	overflow:hidden;
}

.jssora11l { background-position: -3px -33px; }
.jssora11r { background-position: -63px -33px; }
.jssora11l:hover { background-position: -123px -33px; }
.jssora11r:hover { background-position: -183px -33px; }
.jssora11ldn { background-position: -243px -33px; }
.jssora11rdn { background-position: -303px -33px; }