/* custom non-bootstrap css goes here */

header {
	background-image: url('../images/header-bridge.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ea4f3a; 
	height: 660px;
}

#headerContent {
	color: white;
	padding-top: 60px;
	height: 600px;
}

header img {
	margin-bottom: 90px;
}

#contact {
	padding-top: 108px;
	height: 697px;
}

#contact p {
	color: #999999;
}

#contact img {
	float: left;
	margin-right: 10px;
	margin-top: 75px;
	margin-bottom: 75px;
}

.contact {
	color: #ea4f3a;
}

footer {
	background-color: #f2f2f2;
	height: 45px;
	padding-top: 12px;
}

footer p {
	font-size: 14px;
}

footer span {
	float: right;
	color: #ea4f3a;
}

footer a {
	color: #ea4f3a;	
}

footer a:hover {
	color: #ea4f3a;
	text-decoration: underline;	
}

#skills {
	height: auto;
	padding-top: 75px;
	padding-bottom: 90px;	
}

#portfolio {
	height: auto;
	background-color: #e6e6e6;
}

#portfolioText {
	padding-top: 75px;
	padding-bottom: 90px;
}

#about {
	height: auto;
	color: white;
	background-color: #f45642;
	padding-top: 75px;
	padding-bottom: 90px;
}

h1 {
	font-size: 75px;
	font-weight: 100;
	margin-bottom: 15px;	
}

h2  {

}

h3 {
	font-size: 23px;
	margin-bottom: 15px;
}

p {
	font-size: 18px;
	font-weight: 300;
}

a {
	color: #f2f2f2;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline !important;
}


/* Button Styles */
.primary_btn {
	background-color: #ea4f3a;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	height: 46px;
	line-height: 46px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
	text-align: center;
	margin-top: 40px;
}

.primary_btn:hover {
	background-color: #d7412c;
}

.secondary_btn {
	background-color: #25252a;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	height: 46px;
	line-height: 46px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
	text-align: center;
	margin-top: 40px;
}

.secondary_btn:hover {
	background-color: #000000;
}

.hover:hover { 
	opacity: 0.8;
}


@media (max-width: 767px) {
  .secondary_btn {
	  display: none;
  }
}


@media (max-width: 444px) {
  #contact img {
	  width: 112px;
	  height: 112px;
  }
}