#portfolioHeader {
	background-image: url('../images/header-skyline3.png');

	background-color: #25252a;
}

#portfolioText {
	float: left;
	width: 380px;
	padding-right: 20px;
	padding-top: 25px;
}

.contactBlack {
	color: #25252a;
}

#sampleWork {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	height: 450px;
}

#sampleWorkText {
	float: left;
	width: 100%;
	padding-top: 114px;
}