/* Link going back to main index. */
#return {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 18px;
  padding: 3px;
}
body {
  background-color: white;
  height: 100%;
  font-family: Merriweather, serif;
  font-size: 20px;
  line-height: 1.7em;
  padding-top: 50px;
  max-width: 960px;
  width: 90%;
  min-width: 300px;
  margin: auto;
}
html {
  height: 100%;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  border-bottom: 1px solid #c3c3c3;
  color: #333;
}
h1 {
  font-family: 'Source Sans Pro', Helvetica;
  color: '#333333';
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 15px;
}
h2 {
  font-family: 'Source Sans Pro', Helvetica;
  font-weight: normal;
  margin: 0;
  font-size: 30px;
  letter-spacing: normal;
  line-height: 33px;
  margin-top: 25px;
  color: '#5b5b5b';
}

.date {
  float: right;
}
h1, body h2 {
  text-align: center;
}
h3 {
  color: '#333333';
  margin-bottom: 30px;
  margin-top: 68px;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 35px;
  text-align: center;
}
#tagline {
  font-family: 'Source Sans Pro', Helvetica;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}
.title {
  font-weight: bold;
}
.item-heading {
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.role {
  font-style: italic;
}
ul {
  margin-top: 0;
}


@media print {
  #return {
    display: none;
  }
  body {
    padding-top: 0;
  }
  h1 {
    font-size: 35px;
    margin: 0;
    margin-top: 40px;
  }
  #tagline {
    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 20px;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 35px;
  }
  div {
    font-size: 15px;
    margin-bottom: 0;
  }
}


@media screen and (max-width: 560px) {
    h1 {
      font-size: 37px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 26px;
    }
    body {
      font-size: 19px;
    }
}
